.logo-image {
    width: 4em;
    height: auto;
    padding: 3vw;
}

body {
    font-size: 15px;
    background-color: #839cc3;
    color: #bdd1d1; 
    /* was #4C5B5C */
    font-family: 'Abril Fatface';
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Abril Fatface';
    font-family: 'Open Sans', sans-serif;

}