@font-face {
  font-family: 'hackedregular';
  src: url('../fonts/hacked-kerx-webfont.woff2') format('woff2'),
       url('../fonts/hacked-kerx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
