@import "fonts.css";
@import "footer.css";
@import "nav.css";
@import "common.css";
@import "social-media.css";

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 740px auto 70px;
    grid-template-areas: 
    "hd"
    "hero"
    "cards"
    "ft"
}

.header {
    grid-area: hd;
    justify-content: space-between;
    align-content: center;
    display: grid; 
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,minmax(40px,1fr));
}

.header-image {
    width: 100%;
    justify-self: center;
}

.hero {
    grid-area: hero;
    display: grid;
}

.hero-title {
    font-size: 0.8em;
    color: rgba(36, 29, 29, 0.664);
    font-family: hackedregular;
}

.hero-text {
    font-size: 0.8em;
    color: rgba(36, 29, 29, 0.664);
    justify-self: center;
    padding: 0;
    margin: 0;
    display: block;
    font-size: 6em;
    font-weight: bold;
    z-index: 2;
}

.hero-image {
    background-image: url(../img/a-new-dance_1110_740.jpg);
    position: absolute;
    height: 100%;
    overflow: hidden;
    max-width: 100%;
    justify-self: center;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    max-height: 740px;
}

.blog-recent {
    grid-area: title;
}

.card {
    display: grid;
    width: 90%;
    padding: 10px;
    margin: 0;
    grid-template-areas: 
    "img"
    "text"
    "text2"
    "btn"
}

.card:hover {
    box-shadow: 0 10px 20px #a8a8a8;
}

.card-text {
    grid-area: text2;
    padding: 10px;
    margin: 0;
}

.card-img {
    grid-area: img;
    justify-self: center;
    max-width: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    z-index: -1;
}

.card-title {
    grid-area: text;
    font-size: 2em;
    justify-self: center;
    margin: 0;
}

.blog-btn {
    grid-area: btn;
    font-size: 1.1em;
    width: 100px;
    height: 40px;
    border: 0;
    margin: 5px;
    background-color: #e16036;
    border-radius: 10px;
    color: white;
}

.blog-btn:hover {
    color: #E16036;
    background-color: #ffffff;
    box-shadow: 0 10px 20px #a8a8a8;
}

@media (min-width: 300px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 5px;
    }
  }
  
  @media (min-width: 600px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding: 10px;
    }
  }
  
  @media (min-width: 1000px) {
    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      margin: 50px auto;
    }
    .hero-image {
    }
  }